<h1 class="mt-3"> Ring Selectors </h1>

<hr>

<form [formGroup]="myForm" >

    <div class="row mb-3">
        <div class="col " >
        <label class="form-label" > Continents </label>
        <select formControlName="region" class="form-control">
            <option *ngFor="let region of regions" [value]="region">{{region}}</option>
        </select>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col " >
        <label class="form-label" > Countries </label>
        <select formControlName="country" class="form-control">
            <option *ngFor="let region of coutriesByRegion" [value]="region.cca3">{{region.name}}</option>
        </select>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col " >
        <label class="form-label" > Borders </label>
        <select formControlName="border" class="form-control">
            <option *ngFor="let border of borders" [value]="border">{{border}}</option>
        </select>
        </div>
    </div>

</form>

<h3>
    Form
</h3>
<code>{{{region: myForm.controls['region'].value ,
         country: myForm.controls['country'].value,
         border: myForm.controls['border'].value,
         } | json }}</code>

<pre> Form Valid: {{myForm.valid}} </pre>
